h1,
h2,
h3,
h4,
h5,
h6 {
  color: #432E2D;
}

a {
  color: #432E2D;
  transition: color ease-out 0.2s;
  
  &:hover {
    color: #c0903c;
  }
}

input, textarea {
  box-shadow: none;
  font-size: 16px;
}